html, body {
    height: 100%;
    margin: 0;
}
footer {
    margin-top: 100px;
    background-color: #CA86E1;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
footer div{
    padding: 10px;
}
footer a{
    color: #fff;
    text-decoration: none;
}

.avatar-card a{

    color: #000;
    text-decoration: none;
}
.copyright{
    color: gainsboro;
}

.avatar-card{
    max-width: 18rem;
    margin: auto;
    border-radius: 10%;
}

.bg{
    background-color: #F3F1F1;
    max-width: 800px;
    border: 10px solid #CA86E1;
}

.avatar{
    max-width: 10rem;
    border-radius: 50%;
    border: 10px solid #CA86E1;
    margin-bottom: 60px;
}

input, textarea{
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    background-color: rgba(202, 134, 225, 0.5);
    margin-bottom: 40px;
}

::placeholder { 
    color: #fff;
    opacity: 1; 
}

.btn-submit{
    color: #FFF;
    background-color: #CA86E1;
    font-weight: bolder;
}

hr{
    border: 3px solid #cc52f5;
}

.offer{
    width: 100%;
    height: 200px;
}

.offer-card{
    margin: 0px !important;
}

.navbar{
    /* background-color: #CA86E1; */
    /* height: 300px;
    margin-left: 10%; */
    margin-top: -70px;
    margin-bottom: -70px;
}


.rec{
    background-color: #F3F1F1;
    margin-top: 100px;
    border: 5px solid #CA86E1;
}

.sett{
    background-color: #F3F1F1;
}

.navbar{
    padding-top: -1000px;
}

.navbar ul{
    padding: 100px auto;

}

.navbar li{
    list-style: none;
    background-color:#CA86E1;
    padding: 300px auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

.navbar a{
    color: #FFF;
    font-weight: bolder;
    text-decoration: none;
}

.icon{
    height: 30px;
    width: 30px;
}

.sett span{
    height: 42px;
    width: 42px;
}

.modify{
    /* background-color: #CA86E1; */
    color: #FFF;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #bc94ca;
    background-image: none;
    
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: inline-flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #b983c4;
    overflow: hidden;
    border-radius: .25em;
    
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #633172;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }